In [129]:
import pandas as pd
# import numpy as np

In [130]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [131]:
blue = pd.read_csv('시도별_연령별_일반건강검진_정신건강검사_결과__기분상태_및_우울증__20210814205240.csv', encoding='euc-kr')

In [132]:
blue

,시도별(1),성별(1),2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11
0,시도별(1),성별(1),계,계,계,30세,30세,30세,40세,40세,40세,50세,50세,50세
1,시도별(1),성별(1),계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심
2,계,합계,2347074,110014,10980,317830,21918,1675,531306,29176,2475,562793,23398,2411
3,서울,합계,436527,23406,2464,73078,5761,490,97151,6060,584,97986,4577,499
4,부산,합계,158217,6618,585,19786,1289,83,34325,1641,127,34711,1296,135
5,대구,합계,110716,4440,405,13619,801,63,24058,1197,105,27057,988,89
6,인천,합계,137808,7198,637,19262,1398,113,32573,1954,159,33483,1553,142
7,광주,합계,67597,2602,301,8136,489,39,16179,676,69,16436,523,77
8,대전,합계,70151,3572,302,9718,711,50,15571,910,70,17793,810,65
9,울산,합계,55870,2289,181,7778,463,26,13540,606,44,14393,491,48
10,세종,합계,14849,707,80,2077,100,14,5215,288,23,3303,138,19
11,경기,합계,596132,31445,2846,84167,6022,430,145152,8802,652,151292,7103,633
12,강원,합계,67702,2890,288,7619,478,44,13240,688,52,16090,586,69
13,충북,합계,74579,3471,304,9761,678,44,15671,854,60,18404,731,56
14,충남,합계,94288,4324,427,12556,865,63,20742,1140,84,21980,886,100
15,전북,합계,80544,2898,282,8177,479,35,15959,657,55,18855,625,53
16,전남,합계,82572,2527,385,8076,368,32,15848,607,54,18474,561,77
17,경북,합계,118899,4435,543,13201,807,51,23580,1135,123,27132,897,113
18,경남,합계,153950,5836,835,17626,940,79,35782,1560,184,38602,1342,209
19,제주,합계,26673,1356,115,3193,269,19,6720,401,30,6802,291,27

In [133]:
blue.drop(blue.index[0], inplace=True)
del blue['2019.1']
del blue['2019.2']
del blue['2019']
del blue['성별(1)']
blue

,시도별(1),2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11
1,시도별(1),계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심
2,계,317830,21918,1675,531306,29176,2475,562793,23398,2411
3,서울,73078,5761,490,97151,6060,584,97986,4577,499
4,부산,19786,1289,83,34325,1641,127,34711,1296,135
5,대구,13619,801,63,24058,1197,105,27057,988,89
6,인천,19262,1398,113,32573,1954,159,33483,1553,142
7,광주,8136,489,39,16179,676,69,16436,523,77
8,대전,9718,711,50,15571,910,70,17793,810,65
9,울산,7778,463,26,13540,606,44,14393,491,48
10,세종,2077,100,14,5215,288,23,3303,138,19
11,경기,84167,6022,430,145152,8802,652,151292,7103,633
12,강원,7619,478,44,13240,688,52,16090,586,69
13,충북,9761,678,44,15671,854,60,18404,731,56
14,충남,12556,865,63,20742,1140,84,21980,886,100
15,전북,8177,479,35,15959,657,55,18855,625,53
16,전남,8076,368,32,15848,607,54,18474,561,77
17,경북,13201,807,51,23580,1135,123,27132,897,113
18,경남,17626,940,79,35782,1560,184,38602,1342,209
19,제주,3193,269,19,6720,401,30,6802,291,27

In [134]:
blue.columns=['시도별', '30세 수검자합계', '30중간정도 우울증 의심', '30심한 우울증 의심',
             '40세 수검자합계', '40중간정도 우울증 의심', '40심한 우울증 의심',
             '50세 수검자합계', '50중간정도 우울증 의심', '50심한 우울증 의심']

In [135]:
blue

,시도별,30세 수검자합계,30중간정도 우울증 의심,30심한 우울증 의심,40세 수검자합계,40중간정도 우울증 의심,40심한 우울증 의심,50세 수검자합계,50중간정도 우울증 의심,50심한 우울증 의심
1,시도별(1),계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심,계,중간정도 우울증 의심,심한 우울증 의심
2,계,317830,21918,1675,531306,29176,2475,562793,23398,2411
3,서울,73078,5761,490,97151,6060,584,97986,4577,499
4,부산,19786,1289,83,34325,1641,127,34711,1296,135
5,대구,13619,801,63,24058,1197,105,27057,988,89
6,인천,19262,1398,113,32573,1954,159,33483,1553,142
7,광주,8136,489,39,16179,676,69,16436,523,77
8,대전,9718,711,50,15571,910,70,17793,810,65
9,울산,7778,463,26,13540,606,44,14393,491,48
10,세종,2077,100,14,5215,288,23,3303,138,19
11,경기,84167,6022,430,145152,8802,652,151292,7103,633
12,강원,7619,478,44,13240,688,52,16090,586,69
13,충북,9761,678,44,15671,854,60,18404,731,56
14,충남,12556,865,63,20742,1140,84,21980,886,100
15,전북,8177,479,35,15959,657,55,18855,625,53
16,전남,8076,368,32,15848,607,54,18474,561,77
17,경북,13201,807,51,23580,1135,123,27132,897,113
18,경남,17626,940,79,35782,1560,184,38602,1342,209
19,제주,3193,269,19,6720,401,30,6802,291,27

In [136]:
blue = blue.drop([blue.index[0], blue.index[1]])
blue.index = (range(1,len(blue)+1))
blue

,시도별,30세 수검자합계,30중간정도 우울증 의심,30심한 우울증 의심,40세 수검자합계,40중간정도 우울증 의심,40심한 우울증 의심,50세 수검자합계,50중간정도 우울증 의심,50심한 우울증 의심
1,서울,73078,5761,490,97151,6060,584,97986,4577,499
2,부산,19786,1289,83,34325,1641,127,34711,1296,135
3,대구,13619,801,63,24058,1197,105,27057,988,89
4,인천,19262,1398,113,32573,1954,159,33483,1553,142
5,광주,8136,489,39,16179,676,69,16436,523,77
6,대전,9718,711,50,15571,910,70,17793,810,65
7,울산,7778,463,26,13540,606,44,14393,491,48
8,세종,2077,100,14,5215,288,23,3303,138,19
9,경기,84167,6022,430,145152,8802,652,151292,7103,633
10,강원,7619,478,44,13240,688,52,16090,586,69
11,충북,9761,678,44,15671,854,60,18404,731,56
12,충남,12556,865,63,20742,1140,84,21980,886,100
13,전북,8177,479,35,15959,657,55,18855,625,53
14,전남,8076,368,32,15848,607,54,18474,561,77
15,경북,13201,807,51,23580,1135,123,27132,897,113
16,경남,17626,940,79,35782,1560,184,38602,1342,209
17,제주,3193,269,19,6720,401,30,6802,291,27

In [137]:
blue.to_csv('blue.csv')

In [ ]:
# del blue['30세우울']
# del blue['40세우울']
# del blue['50세우울']

In [140]:
blue1 = pd.read_csv('blue.csv', index_col=0)

In [141]:
blue1

,시도별,30세 수검자합계,30중간정도 우울증 의심,30심한 우울증 의심,40세 수검자합계,40중간정도 우울증 의심,40심한 우울증 의심,50세 수검자합계,50중간정도 우울증 의심,50심한 우울증 의심
1,서울,73078,5761,490,97151,6060,584,97986,4577,499
2,부산,19786,1289,83,34325,1641,127,34711,1296,135
3,대구,13619,801,63,24058,1197,105,27057,988,89
4,인천,19262,1398,113,32573,1954,159,33483,1553,142
5,광주,8136,489,39,16179,676,69,16436,523,77
6,대전,9718,711,50,15571,910,70,17793,810,65
7,울산,7778,463,26,13540,606,44,14393,491,48
8,세종,2077,100,14,5215,288,23,3303,138,19
9,경기,84167,6022,430,145152,8802,652,151292,7103,633
10,강원,7619,478,44,13240,688,52,16090,586,69
11,충북,9761,678,44,15671,854,60,18404,731,56
12,충남,12556,865,63,20742,1140,84,21980,886,100
13,전북,8177,479,35,15959,657,55,18855,625,53
14,전남,8076,368,32,15848,607,54,18474,561,77
15,경북,13201,807,51,23580,1135,123,27132,897,113
16,경남,17626,940,79,35782,1560,184,38602,1342,209
17,제주,3193,269,19,6720,401,30,6802,291,27

In [142]:
blue1['30세우울'] = blue1['30중간정도 우울증 의심'] + blue1['30심한 우울증 의심']
blue1['40세우울'] = (blue1['40중간정도 우울증 의심'] + blue1['40심한 우울증 의심'])
blue1['50세우울'] = (blue1['50중간정도 우울증 의심'] + blue1['50심한 우울증 의심'])

In [143]:
blue1

,시도별,30세 수검자합계,30중간정도 우울증 의심,30심한 우울증 의심,40세 수검자합계,40중간정도 우울증 의심,40심한 우울증 의심,50세 수검자합계,50중간정도 우울증 의심,50심한 우울증 의심,30세우울,40세우울,50세우울
1,서울,73078,5761,490,97151,6060,584,97986,4577,499,6251,6644,5076
2,부산,19786,1289,83,34325,1641,127,34711,1296,135,1372,1768,1431
3,대구,13619,801,63,24058,1197,105,27057,988,89,864,1302,1077
4,인천,19262,1398,113,32573,1954,159,33483,1553,142,1511,2113,1695
5,광주,8136,489,39,16179,676,69,16436,523,77,528,745,600
6,대전,9718,711,50,15571,910,70,17793,810,65,761,980,875
7,울산,7778,463,26,13540,606,44,14393,491,48,489,650,539
8,세종,2077,100,14,5215,288,23,3303,138,19,114,311,157
9,경기,84167,6022,430,145152,8802,652,151292,7103,633,6452,9454,7736
10,강원,7619,478,44,13240,688,52,16090,586,69,522,740,655
11,충북,9761,678,44,15671,854,60,18404,731,56,722,914,787
12,충남,12556,865,63,20742,1140,84,21980,886,100,928,1224,986
13,전북,8177,479,35,15959,657,55,18855,625,53,514,712,678
14,전남,8076,368,32,15848,607,54,18474,561,77,400,661,638
15,경북,13201,807,51,23580,1135,123,27132,897,113,858,1258,1010
16,경남,17626,940,79,35782,1560,184,38602,1342,209,1019,1744,1551
17,제주,3193,269,19,6720,401,30,6802,291,27,288,431,318

In [144]:
blue1.drop(blue1.columns[2:4], axis=1, inplace=True)
blue1.drop(blue1.columns[3:5], axis=1, inplace=True)
blue1.drop(blue1.columns[4:6], axis=1, inplace=True)
blue1

   시도별  30세 수검자합계  40세 수검자합계  50세 수검자합계  30세우울  40세우울  50세우울
1   서울      73078      97151      97986   6251   6644   5076
2   부산      19786      34325      34711   1372   1768   1431
3   대구      13619      24058      27057    864   1302   1077
4   인천      19262      32573      33483   1511   2113   1695
5   광주       8136      16179      16436    528    745    600
6   대전       9718      15571      17793    761    980    875
7   울산       7778      13540      14393    489    650    539
8   세종       2077       5215       3303    114    311    157
9   경기      84167     145152     151292   6452   9454   7736
10  강원       7619      13240      16090    522    740    655
11  충북       9761      15671      18404    722    914    787
12  충남      12556      20742      21980    928   1224    986
13  전북       8177      15959      18855    514    712    678
14  전남       8076      15848      18474    400    661    638
15  경북      13201      23580      27132    858   1258   1010
16  경남      17626      35782      38602   1019   1744   1551
17  제주       3193       6720       6802    288    431    318

In [145]:
blue1 = blue1.reindex(columns=['시도별','30세 수검자합계', '30세우울', '40세 수검자합계', '40세우울', '50세 수검자합계','50세우울'])
blue1

   시도별  30세 수검자합계  30세우울  40세 수검자합계  40세우울  50세 수검자합계  50세우울
1   서울      73078   6251      97151   6644      97986   5076
2   부산      19786   1372      34325   1768      34711   1431
3   대구      13619    864      24058   1302      27057   1077
4   인천      19262   1511      32573   2113      33483   1695
5   광주       8136    528      16179    745      16436    600
6   대전       9718    761      15571    980      17793    875
7   울산       7778    489      13540    650      14393    539
8   세종       2077    114       5215    311       3303    157
9   경기      84167   6452     145152   9454     151292   7736
10  강원       7619    522      13240    740      16090    655
11  충북       9761    722      15671    914      18404    787
12  충남      12556    928      20742   1224      21980    986
13  전북       8177    514      15959    712      18855    678
14  전남       8076    400      15848    661      18474    638
15  경북      13201    858      23580   1258      27132   1010
16  경남      17626   1019      35782   1744      38602   1551
17  제주       3193    288       6720    431       6802    318

In [146]:
blue1.to_csv('전국구 정신건강검사 수검자 최종.csv')

In [147]:
df = pd.read_csv('전국구 정신건강검사 수검자 최종.csv', index_col=0)
df

   시도별  30세 수검자합계  30세우울  40세 수검자합계  40세우울  50세 수검자합계  50세우울
1   서울      73078   6251      97151   6644      97986   5076
2   부산      19786   1372      34325   1768      34711   1431
3   대구      13619    864      24058   1302      27057   1077
4   인천      19262   1511      32573   2113      33483   1695
5   광주       8136    528      16179    745      16436    600
6   대전       9718    761      15571    980      17793    875
7   울산       7778    489      13540    650      14393    539
8   세종       2077    114       5215    311       3303    157
9   경기      84167   6452     145152   9454     151292   7736
10  강원       7619    522      13240    740      16090    655
11  충북       9761    722      15671    914      18404    787
12  충남      12556    928      20742   1224      21980    986
13  전북       8177    514      15959    712      18855    678
14  전남       8076    400      15848    661      18474    638
15  경북      13201    858      23580   1258      27132   1010
16  경남      17626   1019      35782   1744      38602   1551
17  제주       3193    288       6720    431       6802    318

In [148]:
df.rename(columns={'30세우울':'30세우울(명)', '40세우울':'40세우울(명)', '50세우울':'50세우울(명)'})

   시도별  30세 수검자합계  30세우울(명)  40세 수검자합계  40세우울(명)  50세 수검자합계  50세우울(명)
1   서울      73078      6251      97151      6644      97986      5076
2   부산      19786      1372      34325      1768      34711      1431
3   대구      13619       864      24058      1302      27057      1077
4   인천      19262      1511      32573      2113      33483      1695
5   광주       8136       528      16179       745      16436       600
6   대전       9718       761      15571       980      17793       875
7   울산       7778       489      13540       650      14393       539
8   세종       2077       114       5215       311       3303       157
9   경기      84167      6452     145152      9454     151292      7736
10  강원       7619       522      13240       740      16090       655
11  충북       9761       722      15671       914      18404       787
12  충남      12556       928      20742      1224      21980       986
13  전북       8177       514      15959       712      18855       678
14  전남       8076       400      15848       661      18474       638
15  경북      13201       858      23580      1258      27132      1010
16  경남      17626      1019      35782      1744      38602      1551
17  제주       3193       288       6720       431       6802       318

In [149]:
df.to_csv('전국구 정신건강검사 수검자 진짜 최종.csv')