In [1]:
# 필요 모듈 import
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [6]:
blue_korea = pd.read_csv('../data/시·군·구별_우울감_경험률_2019.csv')
blue_korea

     시군구별(1)  시군구별(2)      2019  2019.1  2019.2    2019.3    2019.4
0    시군구별(1)  시군구별(2)  응답자수 (명)  조율 (%)  조율표준오차  표준화율 (%)  표준화율표준오차
1      서울특별시       소계    22,909     6.5     0.2       6.5       0.2
2        NaN      강남구       922     6.0     0.9       6.6       0.9
3        NaN      강동구       920     6.7     0.8       6.6       0.9
4        NaN      강북구       914     6.4     1.0       6.3       1.0
..       ...      ...       ...     ...     ...       ...       ...
242      NaN      함양군       887     2.9     0.5       2.7       0.7
243      NaN      합천군       891     3.4     0.6       2.4       0.6
244  제주특별자치도       소계     5,049     4.8     0.5       4.6       0.5
245      NaN     서귀포시     2,514     4.4     0.5       4.2       0.6
246      NaN      제주시     2,535     4.9     0.7       4.7       0.6

[247 rows x 7 columns]

In [7]:
blue_korea.columns = ['시도별','구별','응답자수(명)', '조율(%)', '조율표준오차', 
                      '표준화율(%)', '표준화율표준오차']
blue_korea.drop([0], inplace=True)
blue_korea

         시도별    구별 응답자수(명) 조율(%) 조율표준오차 표준화율(%) 표준화율표준오차
1      서울특별시    소계  22,909   6.5    0.2     6.5      0.2
2        NaN   강남구     922   6.0    0.9     6.6      0.9
3        NaN   강동구     920   6.7    0.8     6.6      0.9
4        NaN   강북구     914   6.4    1.0     6.3      1.0
5        NaN   강서구     918   5.6    0.7     5.4      0.7
..       ...   ...     ...   ...    ...     ...      ...
242      NaN   함양군     887   2.9    0.5     2.7      0.7
243      NaN   합천군     891   3.4    0.6     2.4      0.6
244  제주특별자치도    소계   5,049   4.8    0.5     4.6      0.5
245      NaN  서귀포시   2,514   4.4    0.5     4.2      0.6
246      NaN   제주시   2,535   4.9    0.7     4.7      0.6

[246 rows x 7 columns]

# 데이터 속성 설명

#### 표준화율(%)
- 연도 및 지역간 비교를 위해 인구구성 차이에 따른 영향을 표준인구(2005년 추계인구, 통계청)로 보정한 결과

#### 표준화율표준오차
- 표준화율 분포의 표준 오차
    - 표준 오차: 통계의 표본 분포의 표준 편차

In [8]:
blue_korea.dropna(how='any', inplace=True)
blue_korea.index=(range(1,(len(blue_korea))+1))
blue_korea

        시도별  구별 응답자수(명) 조율(%) 조율표준오차 표준화율(%) 표준화율표준오차
1     서울특별시  소계  22,909   6.5    0.2     6.5      0.2
2     부산광역시  소계  14,509   6.1    0.2     5.5      0.2
3     대구광역시  소계   7,289   5.5    0.3     5.4      0.3
4     인천광역시  소계   8,972   7.6    0.4     7.6      0.3
5     광주광역시  소계   4,567   5.5    0.4     5.4      0.4
6     대전광역시  소계   4,577   4.2    0.3     4.2      0.3
7     울산광역시  소계   4,551   5.4    0.4     5.4      0.4
8   세종특별자치시  소계     915   4.7    0.9     4.9      0.9
9       경기도  소계  41,858   6.7    0.1     6.5      0.1
10      강원도  소계  15,810   5.9    0.3     5.7      0.4
11     충청북도  소계  12,481   6.8    0.3     6.4      0.3
12     충청남도  소계  13,480   6.6    0.3     6.5      0.3
13     전라북도  소계  12,406   7.1    0.4     6.7      0.4
14     전라남도  소계  19,520   4.6    0.2     4.2      0.3
15     경상북도  소계  22,174   6.6    0.2     6.5      0.3
16     경상남도  소계  17,942   4.9    0.2     4.8      0.3
17  제주특별자치도  소계   5,049   4.8    0.5     4.6      0.5

In [12]:
blue_korea.drop([blue_korea.columns[1]], axis=1, inplace=True)
blue_korea

        시도별 응답자수(명) 조율(%) 조율표준오차 표준화율(%) 표준화율표준오차 시도별2
1     서울특별시  22,909   6.5    0.2     6.5      0.2   서울
2     부산광역시  14,509   6.1    0.2     5.5      0.2   부산
3     대구광역시   7,289   5.5    0.3     5.4      0.3   대구
4     인천광역시   8,972   7.6    0.4     7.6      0.3   인천
5     광주광역시   4,567   5.5    0.4     5.4      0.4   광주
6     대전광역시   4,577   4.2    0.3     4.2      0.3   대전
7     울산광역시   4,551   5.4    0.4     5.4      0.4   울산
8   세종특별자치시     915   4.7    0.9     4.9      0.9   세종
9       경기도  41,858   6.7    0.1     6.5      0.1   경기
10      강원도  15,810   5.9    0.3     5.7      0.4   강원
11     충청북도  12,481   6.8    0.3     6.4      0.3   충북
12     충청남도  13,480   6.6    0.3     6.5      0.3   충남
13     전라북도  12,406   7.1    0.4     6.7      0.4   전북
14     전라남도  19,520   4.6    0.2     4.2      0.3   전남
15     경상북도  22,174   6.6    0.2     6.5      0.3   경북
16     경상남도  17,942   4.9    0.2     4.8      0.3   경남
17  제주특별자치도   5,049   4.8    0.5     4.6      0.5   제주

In [14]:
blue_korea['시도별2']= ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']
blue_korea['시도별'] = blue_korea['시도별2'].values

In [16]:
blue_korea.drop([blue_korea.columns[6]], axis=1, inplace=True)
blue_korea

   시도별 응답자수(명) 조율(%) 조율표준오차 표준화율(%) 표준화율표준오차
1   서울  22,909   6.5    0.2     6.5      0.2
2   부산  14,509   6.1    0.2     5.5      0.2
3   대구   7,289   5.5    0.3     5.4      0.3
4   인천   8,972   7.6    0.4     7.6      0.3
5   광주   4,567   5.5    0.4     5.4      0.4
6   대전   4,577   4.2    0.3     4.2      0.3
7   울산   4,551   5.4    0.4     5.4      0.4
8   세종     915   4.7    0.9     4.9      0.9
9   경기  41,858   6.7    0.1     6.5      0.1
10  강원  15,810   5.9    0.3     5.7      0.4
11  충북  12,481   6.8    0.3     6.4      0.3
12  충남  13,480   6.6    0.3     6.5      0.3
13  전북  12,406   7.1    0.4     6.7      0.4
14  전남  19,520   4.6    0.2     4.2      0.3
15  경북  22,174   6.6    0.2     6.5      0.3
16  경남  17,942   4.9    0.2     4.8      0.3
17  제주   5,049   4.8    0.5     4.6      0.5

In [17]:
blue_korea.to_csv('../data/전국구우울감경험률.csv')